<section id="about">
  <h2 class="font-bold text-md mb-6 lg:mt-3">ACERCA DE MI</h2>
  <article class="tracking-wide text-slate-300">
    <p class="mb-3">
      Profesional responsable, disciplinado, diligente y perfeccionista. Me
      considero una persona amistosa, comunicativa, entusiasta, con amplias
      habilidades de liderazgo y bueno para el trabajo en equipo.
    </p>
    <p class="mb-3">
      Me caracterizo por ser capaz y eficiente resolviendo problemas durante el
      proceso de desarrollo, dispuesto a encontrar los medios para concretar los
      objetivos propuestos independientemente del esfuerzo o voluntad que estos
      requieran.
    </p>
    <p>
      Acerca de mí, vivo en Argentina provincia de Buenos Aires, con mi esposa;
      estamos esperando nuestro primer hijo Misael <strong
        class="text-red-600 text-xs">♥</strong
      >. Cuando no estoy trabajando estoy con ellos, jugando videojuegos o al
      pádel, en ese orden.
    </p>
  </article>
</section>
