---
import AnimatedProjectArticle from "../AnimatedProjectArticle.astro";
---

<section id="henry-projects">
  <h2 class="font-bold text-md mt-28 mb-6">PROYECTOS DE HENRY ✨</h2>
  <p class="tracking-wide text-slate-300 mb-6">
    Estos proyectos fueron desarrollados por mi, durante la etapa del Bootcamp
    de Henry. Ambos fueron construidos en react/vite y consumen la api de
    Pokémon y Rick & Morty respectivamente a travez de su propio servidor
    express, consultando a bases de datos postgreSQL utilizando el ORM
    Sequelize. <strong class="text-white">Observalos!</strong>
  </p>
  <div class="flex justify-center gap-8">
    <AnimatedProjectArticle
      title="Pokemon"
      subtitle="Web Developer - Full Stack"
      backgroundImage="pokemon-background-min.jpg"
      characterImage="pikachu-jumping-min.png"
      url="https://pokemon-2hde.onrender.com"
    />
    <AnimatedProjectArticle
      title="Rick & Morty"
      subtitle="Web Developer - Full Stack"
      backgroundImage="rick-and-morty-background-min.jpg"
      characterImage="rick-smiling-min.png"
      url="https://rick-and-morty-qmxe.onrender.com"
    />
  </div>
</section>
