---
import ProjectArticleCard from "../ProjectArticleCard.astro";
---

<section id="projects">
  <h2 class="font-bold text-md mt-28 mb-6">PROYECTOS</h2>
  <div class="flex flex-col gap-12">
    <ProjectArticleCard
      title="Converzor de Zona Horaria"
      subtitle="Durante mi estancia en Henry, tube que tomar la dificil tarea de buscar sitios web que hagan la conversion de zona horaria para agendar las videollamadas. Es por esto que me parece interesante crear mi propio convertidor de zona horaria con funcionalidades que creo nesesarias y compartirlo gratis a aquellos que lo neseciten."
      image="clock.jpg"
      technologies={[]}
      state="Pendiente"
    />
  </div>
</section>
