@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'inter';
    src: url('/fonts/Inter-Regular.woff2');
    font-weight: 400;
    font-display: swap;
  }

  body {
    font-family: 'inter', sans-serif;
    background-color: #222;
    color: aliceblue;
  }

  #about:target,
  #projects:target,
  #experience:target,
  #education:target,
  #henry-projects:target {
    scroll-margin-top: 7rem;
  }
  html {
    scroll-behavior: smooth;
  }
}