---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import AboutSection from "../components/eng/AboutSection.astro";
import ProjectSection from "../components/eng/ProjectSection.astro";
import ExperienceSection from "../components/eng/ExperienceSection.astro";
import EducationSection from "../components/eng/EducationSection.astro";
import HenryProjectSection from "../components/eng/HenryProjectSection.astro";
---

<Layout title="Matias Appella">
  <Header />
  <main class="pt-24 lg:py-24 lg:w-1/2">
    <AboutSection />
    <ProjectSection />
    <ExperienceSection />
    <EducationSection />
    <HenryProjectSection />
    <p class="text-xs tracking-wider mt-28">
      Coded in <strong>Visual Studio Code</strong>. Built with <strong
        >Astro</strong
      > 🚀 and <strong>Tailwind CSS</strong>, deployed with <strong
        >Vercel</strong
      >. Inspired in <a
        href="https://brittanychiang.com/"
        target="_blank"
        class="hover:underline">brittanychiang.com</a
      > portfolio.
    </p>
    <p class="lg:hidden text-xs tracking-wider mb-16 mt-3">
      Developed by <strong>Matias Appella.</strong>
    </p>
  </main>
</Layout>
