---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SectionAbout from "../components/SectionAbout.astro";
import SectionProjects from "../components/SectionProjects.astro";
import SectionExperience from "../components/SectionExperience.astro";
import SectionEducation from "../components/SectionEducation.astro";
import SectionSkills from "../components/SectionSkills.astro";
---

<Layout title="Portfolio v2 - Matias Appella">
  <Header />
  <main class="pt-24 lg:py-24 lg:w-1/2">
    <SectionAbout />
    <SectionProjects />
    <SectionExperience />
    <SectionEducation />
    <SectionSkills />
    <p class="text-xs tracking-wider mt-24">
      Coded in <strong>Visual Studio Code</strong>. Built with <strong
        >Astro</strong
      > 🚀 and <strong>Tailwind CSS</strong>, deployed with <strong
        >Vercel</strong
      >. Inspired in <a
        href="https://brittanychiang.com/"
        target="_blank"
        class="hover:underline">brittanychiang.com</a
      > portfolio.
    </p>
  </main>
</Layout>
