---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Portfolio v2 - Matias Appella">
  <Header />
  <main class="pt-24 lg:py-24 lg:w-[60%] border border-orange-300"></main>
</Layout>
