---
import SocialMedia from "./SocialMedia.astro";
const { lang } = Astro.props;
---

<header
  class="lg:sticky lg:top-0 lg:flex lg:flex-col lg:justify-between pt-24 lg:py-24 lg:h-screen lg:w-1/2 relative"
>
  <div id="config-section" class="absolute h-20 top-0 flex items-end">
    <a
      href={lang === "eng" ? "/esp" : "/"}
      class="group text-xs border border-white rounded-md flex items-center px-2 py-1 gap-1"
    >
      <span>{lang === "eng" ? "English" : "Español"}</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-refresh transition duration-1000 group-hover:[transform:rotate(-360deg)]"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
        <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
      </svg>
    </a>
  </div>
  <div id="presentation-letter" class="mb-8">
    <h1 class="text-[2.5em] sm:text-[3em] font-bold tracking-wide -ml-[2px]">
      Matias Appella
    </h1>
    <span class="inline-block tracking-wider sm:text-lg mb-3 text-slate-300"
      >{
        lang === "eng" ? "Full Stack Developer" : "Desarrollador Full Stack"
      }</span
    >
    <p class="max-w-[17em] text-gray-300">
      {
        lang === "eng"
          ? "I provide fresh, scalable and maintainable web applications."
          : "Construyo aplicaciones web nuevas, escalables y mantenibles."
      }
    </p>
  </div>
  <nav
    class="hidden lg:flex lg:flex-col lg:gap-3 lg:flex-grow font-bold text-sm"
  >
    {
      lang === "eng" ? (
        <>
          <a id="a_about" href="#about">
            ABOUT
          </a>
          <a id="a_projects" href="#projects">
            PROJECTS
          </a>
          <a id="a_experience" href="#experience">
            EXPERIENCE
          </a>
          <a id="a_education" href="#education">
            EDUCATION
          </a>
          <a id="a_henry-projects" href="#henry-projects">
            HENRY ✨
          </a>
        </>
      ) : (
        <>
          <a id="a_about" href="#about">
            ACERCA DE MI
          </a>
          <a id="a_projects" href="#projects">
            PROYECTOS
          </a>
          <a id="a_experience" href="#experience">
            EXPERIENCIA
          </a>
          <a id="a_education" href="#education">
            EDUCACIÓN
          </a>
          <a id="a_henry-projects" href="#henry-projects">
            HENRY ✨
          </a>
        </>
      )
    }
  </nav>
  <SocialMedia />
</header>
