---
import SocialMedia from "./SocialMedia.astro";
const { lang } = Astro.props;
---

<header
  class="lg:sticky lg:top-0 lg:flex lg:flex-col lg:justify-between pt-24 lg:py-24 lg:h-screen lg:w-1/2 relative"
>
  <div id="config-section" class="absolute h-24 top-0 flex items-end">
    {
      lang === "eng" ? (
        <a href="/esp" class="text-xs">
          ENGLISH
        </a>
      ) : (
        <a href="/" class="text-xs">
          ESPAÑOL
        </a>
      )
    }
  </div>
  <div id="presentation-letter" class="mb-8">
    <h1 class="text-[2.5em] sm:text-[3em] font-bold tracking-wide -ml-[2px]">
      Matias Appella
    </h1>
    <span class="inline-block tracking-wider sm:text-lg mb-3 text-slate-300"
      >{
        lang === "eng" ? "Full Stack Developer" : "Desarrollador Full Stack"
      }</span
    >
    <p class="max-w-[15em] text-gray-300">
      {
        lang === "eng"
          ? "I provide fresh, scalable and maintainable web applications."
          : "Construyo aplicaciones web nuevas, escalables y mantenibles."
      }
    </p>
  </div>
  <nav
    class="hidden lg:flex lg:flex-col lg:gap-3 lg:flex-grow font-bold text-sm"
  >
    {
      lang === "eng" ? (
        <>
          <a id="a_about" href="#about">
            ABOUT
          </a>
          <a id="a_projects" href="#projects">
            PROJECTS
          </a>
          <a id="a_experience" href="#experience">
            EXPERIENCE
          </a>
          <a id="a_education" href="#education">
            EDUCATION
          </a>
          <a id="a_henry-projects" href="#henry-projects">
            HENRY ✨
          </a>
        </>
      ) : (
        <>
          <a id="a_about" href="#about">
            ACERCA DE MI
          </a>
          <a id="a_projects" href="#projects">
            PROYECTOS
          </a>
          <a id="a_experience" href="#experience">
            EXPERIENCIA
          </a>
          <a id="a_education" href="#education">
            EDUCACIÓN
          </a>
          <a id="a_henry-projects" href="#henry-projects">
            HENRY ✨
          </a>
        </>
      )
    }
  </nav>
  <SocialMedia />
</header>
