---
import AnimatedProjectArticle from "./AnimatedProjectArticle.astro";
---

<section id="henry-projects">
  <h2 class="font-bold text-md mt-24 mb-6">
    <strong class="text-[#fcfc04]">HENRY</strong> PROJECTS
  </h2>
  <div class="flex justify-center gap-8">
    <AnimatedProjectArticle
      title="Pokemon"
      subtitle="Web Developer - Full Stack"
      backgroundImage="pokemon-background-min.jpg"
      characterImage="pikachu-jumping-min.png"
    />
    <AnimatedProjectArticle
      title="Rick & Morty"
      subtitle="Web Developer - Full Stack"
      backgroundImage="rick-and-morty-background-min.jpg"
      characterImage="rick-smiling-min.png"
    />
  </div>
</section>
