<section id="about" class="lg:pt-3">
  <h2 class="font-bold text-md mb-6">ABOUT</h2>
  <article class="tracking-wide text-slate-300">
    <p class="mb-3">
      Responsible, disciplined, diligent and perfectionist professional. I
      consider myself a friendly person, communicative, enthusiastic, with ample
      leadership skills and good for teamwork.
    </p>
    <p class="mb-3">
      Characterized by being capable and efficient in solving problems during
      the development process, willing to find ways to achieve the proposed
      objectives regardless of the effort that these require.
    </p>
    <p>
      About me, i live with my wife, we are waiting for our son Misael <strong
        class="text-red-600 text-xs">♥</strong
      >. When i am not working, i am with them, playing videogames or paddle
      tennis, in that order.
    </p>
  </article>
</section>
