---
import HenryProjects from "./HenryProjects.astro";
---

<section id="projects">
  <h2 class="font-bold text-md mt-24 mb-6">PROJECTS</h2>
  <div class="flex flex-col gap-12"></div>
  <HenryProjects />
</section>
