---
import ArticleCard from "./ArticleCard.astro";
---

<section id="education">
  <h2 class="font-bold text-md mt-24 mb-6">EDUCATION</h2>
  <div class="flex flex-col gap-12">
    <ArticleCard
      date="Jun - Oct 2023"
      title="Henry Bootcamp"
      subtitle="Web Developer - Full Stack"
      description=""
      tecnologies={["JavaScript", "React", "Node.js", "Express", "Data Bases"]}
    />
  </div>
</section>
