---
import ArticleCard from "../ArticleCard.astro";
---

<section id="education">
  <h2 class="font-bold text-md mt-28 mb-6">EDUCATION</h2>
  <div class="flex flex-col gap-12">
    <ArticleCard
      date="Jun - Sep 2023"
      title="Henry Bootcamp"
      subtitle="Web Developer - Full Stack"
      description="Theoretical-Practical course of +800 hours where i learned about building client-server web application integrating database models, collaborating with teammates using agile scrum methodologies."
      tecnologies={["JavaScript", "React", "Node.js", "Express", "Scrum"]}
    />
    <ArticleCard
      date="Mar 2014 - Dec 2018"
      title="Instituto Superior Experimental de Tecnología Alimentaria"
      subtitle="Systems Analyst Technician"
      description="Technical career where i acquired programming logic and knowledge about databases, defining scopes and user/system requeriments in desktop application development."
      tecnologies={[
        "Pseudocode",
        "Microsoft Access",
        "Visual Basic .NET",
        "Visual Studio",
      ]}
    />
  </div>
</section>
