---
import ProjectArticleCard from "../ProjectArticleCard.astro";
---

<section id="projects">
  <h2 class="font-bold text-md mt-28 mb-6">PROJECTS</h2>
  <div class="flex flex-col gap-12">
    <ProjectArticleCard
      title="Time Zone Converter"
      subtitle="During my time at Henry, I had to take on the difficult task of searching for websites that performed time zone conversions to agree on meeting times. That's why I found it interesting to create my own time zone converter with functionalities that I think are necessary and share it for free with whoever needs it."
      image="clock.jpg"
      technologies={[]}
    />
  </div>
</section>
